.root {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
/* ============================================ */
/* Search Bar */
/* ============================================ */
.search {
  display: flex;
  justify-content: space-around;
  margin-top: 3vh;
  width: 60%;
}
.search__text {
  padding: 1vh 10px 1vh 10px;
  font-size: 1.5rem;
  width: 80%;
}

.search__btn {
  font-size: 1rem;
  width: 20%;
}
.input-group {
  width: 80%;
  margin: 10px auto 10px auto;
}

/* tr th {
  text-align: left;
} */

.table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* ============================================ */
/* Game Card */
/* ============================================ */

.card {
  width: 40%;
  display: flex;
  flex-direction: column;
  background: rgb(221, 221, 221);
  padding: 20px;
  margin-top: 20px;
  align-items: center;
  border-radius: 4%;
  border: rgb(221, 221, 221) 1px solid;
  height: 70vh;
}

.card__img {
  width: 70%;
}

.card__body {
  width: 70%;
  display: flex;
  flex-direction: column;
  height: 50%;
}
.card__name {
  font-size: 35px;
  margin: 5px 0;
  height: 40%;
}

.card__developers {
  font-size: 1.1rem;
  height: 15%;
}
.card__genres {
  height: 15%;
}
.card__btn-section {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.card__btn {
  width: 40%;
  font-size: 2rem;
}
.card__add {
  margin-right: 20px;
  width: 35rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
